@media screen and (max-width:1200px){
    .navigation2{
        display: none;
    }
    .login-mobil{
        display: block;
        font-size: 30px;
        list-style-type: none;
        padding-left: 50px;
        margin-left: 15%;
        position: absolute;
        bottom: 10px;
       

        
    }
    .login-mobil a{
        color: #0277BD;
        margin-left: 5px;
    }

    /*Login*/

    .login{
        float: right;
        padding-right: 20px;
        text-decoration: none;

    }
    .LS-droppdown{
        background-color: #424242;
        width: 400px;
        /*position: absolute;*/
        left: 65%;

    }
    .navigation2 .login a:hover {
        color: #fff;
        text-decoration: none;
    }
    .login-menu{
        border-radius: 0;
        margin-top: -4px;
    }
    input {
        width:150px;
        display:block;
        border: 1px solid #999;
        height: 35px;
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .mobil-nav{
        display: block;
        margin-left: 20px;
        margin-top: 20px;
    }
    .nav-logo{
        display: block;
        margin-left: 30px;
        margin-top: 20px;
    }
    .undermenu{
        margin-left: 20px;
    }
}
@media screen and (max-width:1000px){
    .LS-droppdown{
        left: 52%;

    }
    .mobil-nav{
        display: block;
        margin-left: 20px;
        margin-top: 24px;
    }
}
@media screen and (max-width:760px){
    .login-mobil{
        width: 300px;
        font-size: 22px;
        list-style-type: none;
        right: -99.9px;
        position: absolute;
        bottom: 34px;
    }
    .login{
        float: left;
        padding-right: 20px;
        text-decoration: none;
        bottom: 250px;
    }
    .signup{
        float: left;
        padding-right: 20px;
        text-decoration: none;
        margin-top: 20px;
        top: 250px;
    }
    .LS-droppdown{
        background-color: #424242;
        width: 200px;
        left: 0px;
        position: absolute;


    }
    input {
        display:block;
        border: 1px solid #999;
        height: 35px;
        margin: 0px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .nav-logo{
        display: block;
        margin-left: 20px;
        margin-top: 18px;
    }
    .undermenu{
        margin-left: 20px;
    }

    /*contact*/

    .dark-matter{
        width: 300px;
        right: 40px;

    }
    input {
        width:150px;
        display:block;
        border: 1px solid #999;
        height: 35px;
        margin: 0px;
        padding-left: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
    span{


        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 7px;

    }
}
@media screen and (max-width:520px){


    .indexproduktnav li a{

        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;

    }
}
@media screen and (max-width:395px){
    .nav-logo{
        margin-left: 10px;
    }
    .container{
        margin-left: -20px;
        width: 115%;
    }
    .login-mobil{
        width: 300px;
        font-size: 22px;
        list-style-type: none;
        left: 60px;
        position: absolute;
        bottom: 34px;
    }

    .indexproduktnav li a{
        padding-left: 7px;
        padding-right: 7px;


    }

    /*contact*/

    .dark-matter{
        width: 300px;
        right: 40px;

    }
    input {
        width:150px;
        display:block;
        border: 1px solid #999;
        height: 35px;
        margin: 0px;
        padding-left: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
    span{


        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 7px;

    }

}
